# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.aps
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Cursor
.cursor/

# Build artifacts
*.obj
*.pch
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.exe
*.recipe
*.res
*.log
*.iobj
*.ipdb

# Dependencies
vcpkg_installed/

# OS
$Recycle.Bin/
Thumbs.db
Desktop.ini

# Temporary
*.tmp
*.bak
*.swp

# Large Assests
models/
